<h2 id="title">Welcome to Ember.js</h2>

<p>
  {{#if session.isAuthenticated}}
    <img src={{session.secure.twitter.cachedUserProfile.profile_image_url_https}}>
    {{session.secure.twitter.username}} <button {{ action 'invalidateSession' }}>Logout</button>
  {{else}}
    <button {{ action 'authenticateSession' }}>Login</button>
  {{/if}}
</p>

{{outlet}}
